{% extends "layout.html" %}

{% block title %}
Sell Stocks
{% endblock %}

{% block main %}
<form action="/sell" method="post">
  <label for="stock">Select a stock:</label>

  <select name="symbol">
    <option value="">--Please choose an option--</option>
    {% for stock in stocks %}
    <option value="{{stock.symbol}}">{{stock.symbol}}</option>
    {% endfor %}
  </select>

  <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares"
    type="text">
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}
